.direita{
    background-color: orangered;
    height: 114.5px;
}
li{
    display: inline-block;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 40px;
    margin-right: 150px;
}
li:hover{
    color: rgb(33, 153, 33);
    text-transform: lowercase;
}
.s1{
    background-image: url(../imagens/fundo2.jpg);
    background-repeat: no-repeat;
    height: 350px;
}
.texto_h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 120px;
}
.texto_p{
    color: white;
    font-weight: 900;
    font-size: 30px;
    padding: 15px 10px 15px 10px;
    background-color: orangered;
    border-radius: 19px;
}
.texto_p:hover{
    color: rgb(33, 153, 33);
    text-transform: lowercase;
}
.cor_span{
    color: yellow;
}
.s2{
    background-color: orange;
    height: 420px;
}
.s2_h3{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    background-color: orangered;
    padding: 10px 10px 10px 10px;
}
.s3{
    background-image: url(../imagens/fundo3.jpg);
    background-repeat: no-repeat;
    height: 370px;
}
.s3_h3{
    color: white;
    font-size: 35px;
    font-weight: 900;
}
.s3_span{
    color: yellow;
}
.img_combo{
    border-radius: 45%;
    box-shadow: 3px 3px 5px 5px black;
}
footer{
    color: white;
    background-color: orangered;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 23px;
}
.meio_1{
    background-color: rgb(248, 163, 6);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 900;
}
.s_sand{
    background-image: url(../imagens/fundo5.jpg);
    height: 890px;
}
.textos_sand{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.pedidos{
    color: white;
    font-size: 20px;
    background-color: orangered;
    padding-top: 8px;
    padding-bottom: 8px;
}
.pedidos:hover{
    background-color: rgb(33, 153, 33);;
}
.sanduiches_meio{
    border-radius: 30%;
    box-shadow: 3px 3px 4px 4px black;
}
.s_beb{
    background-image: url(../imagens/fundo5.jpg);
    height: 680px;
}
.meio_2{
    background-image: url(../imagens/fundo4.jpg);
    height: 800px;
}
.destaque{
    color: red;
}
.cor_form{
    color: white;
}

.estilo{
    font-size: 16px;
    color: black;
    background-color: white;
    width: 400px;
    border: 2px solid orange;
}
.estilo:hover{
    color: black;
    background-color: rgb(238, 206, 147);
}
.texto_form{
    padding-top: 15px;
    font-size: 20px;
}
