.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.dir-1{margin-right: 8.33%;}
.dir-2{margin-right: 16.66%;}
.dir-3{margin-right: 25%;}
.dir-4{margin-right: 33%;}
.dir-5{margin-right: 41.66%;}
.dir-6{margin-right: 50%;}
.dir-7{margin-right: 58.33%;}
.dir-8{margin-right: 66.66%;}
.dir-9{margin-right: 75%;}
.dir-10{margin-right: 83.33%;}
.dir-11{margin-right:91.66%;}
.dir-12{margin-right: 100%;}

.esq-1{margin-left: 8.33%;}
.esq-2{margin-left: 16.66%;}
.esq-3{margin-left: 25%;}
.esq-4{margin-left: 33%;}
.esq-5{margin-left: 41.66%;}
.esq-6{margin-left: 50%;}
.esq-7{margin-left: 58.33%;}
.esq-8{margin-left: 66.66%;}
.esq-9{margin-left: 75%;}
.esq-10{margin-left: 83.33%;}
.esq-11{margin-left:91.66%;}
.esq-12{margin-left: 100%;}

.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-25{margin-top:25px;}
.mt-30{margin-top:30px;}
.mt-35{margin-top:35px;}
.mt-40{margin-top:40px;}
.mt-45{margin-top:45px;}
.mt-50{margin-top:50px;}
.mt-55{margin-top:55px;}
.mt-60{margin-top:60px;}

.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-15{margin-bottom:15px;}
.mb-20{margin-bottom:20px;}
.mb-25{margin-bottom:25px;}
.mb-30{margin-bottom:30px;}
.mb-35{margin-bottom:35px;}
.mb-40{margin-bottom:40px;}
.mb-45{margin-bottom:45px;}
.mb-50{margin-bottom:50px;}
.mb-55{margin-bottom:55px;}
.mb-60{margin-bottom:60px;}

*{
    box-sizing: border-box;
}
.normal{
    display: block;
    clear: both;
}
.centraliza{
    text-align: center;
}
.fl{
    float: left;
}